<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="https://www.dropbox.com/s/1wzqdh6j2iau50u/virtualmicromagnetics_full_9df447e4cc.zip?dl=0">Download</a>
                  </li>
                  <li>
                    <a href="/get_started/">Get Started</a>
                  </li>
                  <li>
                    <a href="https://github.com/fangohr/virtualmicromagnetics">
                      GitHub
                    </a>
                  <li>
                    <a href="/about/">About</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
